<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
</head>
<body>
<h1>Магазин оружия ===MY GUN STORE===</h1>
<h1>Вход</h1>
<form method="get" action="/products">
    <label>Логин:
        <input name="login" placeholder="Введите логин">
    </label>
    <label>Пароль:
        <input type="password" name="password" placeholder="Введите пароль">
    </label>
    <input type="submit" value="Войти">
</form>
</body>
</html>